<svg class="hide" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  <defs>
  </defs>
  <g id="target-icon">
    <path data-name="Path 24" class="cls-1" d="M10,.4875v19.025"/>
    <path data-name="Path 23" class="cls-1" d="M19.5125,10H.4875"/>
    <circle class="cls-1" cx="10" cy="10" r="6.771"/>
  </g>
  <g id="arrow-icon">
    <polyline class="cls-1" points="16.814 5.623 10 14.377 3.186 5.623"/>
  </g>
  <g id="solid-circle-icon">
    <circle class="cls-2" cx="10" cy="10" r="5.63604"/>
  </g>
</svg>
<svg class="hide" xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35">
  <defs>
    <style>
      .c-1 {
        fill: #fff;
      }

      .c-1, .c-2, .c-3 {
        stroke: #000;
      }

      .c-2, .c-3 {
        fill: none;
      }
    </style>
  </defs>
  <g id="asym">
    <circle class="c-1" cx="17.929" cy="18.288" r="11.212"/>
    <path id="Path_7" data-name="Path 7" class="c-2" d="M4.008,3.865h0l15.63,16.9"/>
    <path id="Path_8" data-name="Path 8" class="c-2" d="M12.437,19.625l7.2,1.136v-7.5"/>
  </g>
  <g id="sym">
    <circle class="c-1" cx="10.5" cy="10" r="5.269"/>
    <circle class="c-1" cx="23.5" cy="25" r="5.269"/>
    <path id="Path_57" data-name="Path 57" class="c-2" d="M13.775,14.015h0l6.45,6.972"/>
  </g>
  <g id="linked">
    <path id="Path_98" data-name="Path 98" class="c-2" d="M9.13349,24.479V9.746h14.733"/>
    <path id="Path_99" data-name="Path 99" class="c-2" d="M14.5565,25.077h10.453V10.344"/>
    <path id="Path_108" data-name="Path 108" class="c-3" d="M5.62307,15.18319,9.0892,19.30792l3.63392-4.18034"/>
    <path id="Path_109" data-name="Path 109" class="c-3" d="M28.47193,19.8178,25.0058,15.69307,21.37188,19.8734"/>
    <circle class="c-1" cx="24.8665" cy="9.923" r="5.269"/>
    <circle class="c-1" cx="9.1335" cy="25.077" r="5.269"/>
  </g>
  <g id="unordered">
    <path id="Path_132" data-name="Path 132" class="c-2" d="M9,9.416V27.584"/>
    <path id="Path_144" data-name="Path 144" class="c-2" d="M17,8.416V26.584"/>
    <path id="Path_142" data-name="Path 142" class="c-2" d="M13,6.416V24.584"/>
    <path id="Path_143" data-name="Path 143" class="c-2" d="M21,10.416V28.584"/>
    <path id="Path_145" data-name="Path 145" class="c-2" d="M25,6.416V24.584"/>
  </g>
  <g id="ordered">
    <path id="Path_147" data-name="Path 147" class="c-2" d="M17,8.416V26.584"/>
    <path id="Path_148" data-name="Path 148" class="c-2" d="M13,6.416V24.584"/>
    <path id="Path_149" data-name="Path 149" class="c-2" d="M9,4.416V22.584"/>
    <path id="Path_146" data-name="Path 146" class="c-2" d="M21,10.416V28.584"/>
    <path id="Path_150" data-name="Path 150" class="c-2" d="M25,12.416V30.584"/>
  </g>
  <g id="single">
    <path id="Path_141" data-name="Path 141" class="c-2" d="M17,8.416V26.584"/>
  </g>
  <g id="data">
    <rect id="Rectangle_119" data-name="Rectangle 119" class="c-1" x="6" y="8.5" width="22" height="6"/>
    <rect id="Rectangle_120" data-name="Rectangle 120" class="c-1" x="6" y="14.5" width="22" height="6"/>
    <rect id="Rectangle_121" data-name="Rectangle 121" class="c-1" x="6" y="20.5" width="22" height="6"/>
  </g>
</svg>
