<svg class="hide" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
  <defs>
  </defs>
  <g id="target-icon">
    <path data-name="Path 24" class="cls-1" d="M10,.4875v19.025"/>
    <path data-name="Path 23" class="cls-1" d="M19.5125,10H.4875"/>
    <circle class="cls-1" cx="10" cy="10" r="6.771"/>
  </g>
  <g id="arrow-icon">
    <polyline class="cls-1" points="16.814 5.623 10 14.377 3.186 5.623"/>
  </g>
  <g id="solid-circle-icon">
    <circle class="cls-2" cx="10" cy="10" r="5.63604"/>
  </g>
  <g id="asym-icon">
    <circle class="cls-3" cx="10.90649" cy="11.41372" r="5.63604"/>
    <path id="Path_151" data-name="Path 151" class="cls-1" d="M2.42507,2.11117h0L11.9,12.35318"/>
    <path id="Path_152" data-name="Path 152" class="cls-1" d="M7.9645,11.8707,11.9,12.49139V8.39513"/>
  </g>
</svg>
