{% macro figure(src,text) %}
  <figure>
    <img src="../../assets/purpose/{{ src }}" alt="">
    <figcaption>
      {{ text | md | safe }}
    </figcaption>
  </figure>
{% endmacro %}



{% macro diptych(data,name) %}
  <div class="diptych" data-name="{{ name }}">
    {{ figure(data.image1,data.text1) }}
    {{ figure(data.image2,data.text2) }}
  </div>
{% endmacro %}
