.monospace{
    font-family:'Courier New','Menlo',monospace;
    font-size:14px;
    --text-color:rgb(43,43,43);
    color:var(--text-color);
    /* -webkit-text-stroke:0.03em var(--text-color); */
}

.prose{
    & a{
        color:inherit;
        text-decoration-color: rgba(0, 0, 0, 0.2);
        text-underline-offset: 3px;
    }

    & p{
        margin-bottom:10px;
    }

    & blockquote{
        padding-left:8px;
        border-left:1px solid rgba(0,0,0,0.3);
    }

    & mark{
        background-color:palegoldenrod;
    }
}