
{% import 'purpose-macros.njk' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Two essays</title>
    <link rel="stylesheet" href="../../css/clearstyle.css">
    <link rel="stylesheet" href="../../css/purpose.css">
  </head>
  <body class='center' data-selected='theory'>
    <header>
      <h1>Meaning Without Purpose,<br>Purpose Without Meaning</h1>
      {# <h1>How to mean<br>without meaning</h1> #}
      <div data-trigger='scale' class='step'>

      </div>
    </header>
    <nav>
      <h2 class='left'>
        <span data-which='theory'>a theory</span>
        <span data-which='center'>and</span>
      </h2>
      <h2 class='right'><span data-which='practice'>practice</span></h2>
    </nav>
    <div id="essays">

        <article id='theory' class="active">
          <div class="content charter">
            {% for par in essay1.text %}
              {% if par.value[0] == '%' %}
                {% set graphic = par.value | replace("%", "") | replace("%", "") %}
                {% set gdata = graphic.split('-') %}
                {% if gdata[0] == 'diptych' %}
                  {% set dIndex=gdata[1] | int %}
                  {% set diptych = essay1.diptychs[dIndex] %}
                  {{ macros.diptych(diptych,gdata[2]) }}

                {% elseif gdata[0] == 'expand' %}
                {% set expand = gdata[1] | findwhere(essay1.expand,'id') %}
                <div class="real-blockquote" data-id='{{ expand.linkid }}'>
                  <div class="inner">
                    {{ expand.text | md | safe }}
                  </div>

                </div>
                {% elseif gdata[1] == 'languagegames' %}
                  <div class='language-games step' data-trigger='language-games'>
                    <p>
                      <span>“Giving orders, and acting on them— </span>
                      <span>Describing an object by its appearance or by its measurements,— </span>
                      <span>Constructing an object from a description (a drawing)— </span>
                      <span>Reporting an event— </span>
                      <span>Speculating about the event— </span>
                      <span>Forming and testing a hypothesis— </span>
                      <span>Presenting the results of an experiment in tables and diagrams— </span>
                      <span>Making up a story; and reading one— </span>
                      <span>Acting in a play— </span>
                      <span>Singing rounds— </span>
                      <span>Guessing riddles— </span>
                      <span>Cracking a joke; telling one— </span>
                      <span>Solving a problem in applied arithmetic— </span>
                      <span>Translating from one language into another— </span>
                      <span>Requesting, </span>
                      <span>thanking, </span>
                      <span>cursing, </span>
                      <span>greeting, </span>
                      <span>praying.” </span>
                    </p>
                    <p>— Adapted from §23 in the <em>Philosophical Investigations</em></p>
                    </div>
                {% endif %}
              {% else %}
                {{ par.value | footnotes | md | safe }}

              {% endif %}

            {% endfor %}

            <h3>Notes and references</h3>
            <ol class="references">
            {% for footnote in essay1.footnotes %}
              <li class="footnote" data-id="{{ footnote.id }}" >
                {{ footnote.text | md | safe }}
                <span class='return-top' href="">↵</span>
              </li>

            {% endfor %}
            </ol>
          </div>
        </article>

      <div class="centerline">
        <div class="bottomline">

        </div>
      </div>

        <article id='practice' class="">
          <div class="content charter">
            {% for par in essay2.text %}
              {% if par.value[0] == '%' %}

                {% set graphic = par.value | replace("%", "") | replace("%", "") %}
                {% set gdata = graphic.split('-') %}
                {% if gdata[0] == 'batch' %}
                  {% set batch = essay2.batches[gdata[1]] %}
                  {% for diptych in batch %}
                    {{ macros.diptych(diptych,gdata[1]) }}
                  {% endfor %}
                  {# {% if gdata[1] == 'software'%}

                  {% endif %} #}

                {% elseif gdata[0] == 'diptych' %}
                  {% set dIndex=gdata[1] | int %}
                  {% set diptych = essay2.diptychs[dIndex] %}
                  {# {{diptych.text1}} #}
                  {{ macros.diptych(diptych,gdata[2]) }}

                {% endif %}

                {# {% if gdata[0] == 'diptych' %}
                  {% set dIndex=gdata[1] | int %}
                  {% set diptych = essay1.diptychs[dIndex] %}
                  {{ macros.diptych(diptych) }}

                {% elseif gdata[0] == 'expand' %}
                {% set expand = gdata[1] | findwhere(essay1.expand,'id') %}
                <div class="real-blockquote" data-id='{{ expand.linkid }}'>
                  <div class="inner">
                    {{ expand.text | md | safe }}
                  </div>

                </div>
                {% endif %} #}

              {% else %}
                {{ par.value | footnotes | md | safe }}

              {% endif %}

            {% endfor %}


            <h3>Notes and references</h3>
            <ol class="references">
            {% for footnote in essay2.footnotes %}
              <li class="footnote" data-id="{{ footnote.id }}" >
                {{ footnote.text | md | safe }}
                <span class='return-top' href="">↵</span>
              </li>

            {% endfor %}
            </ol>

          </div>
        </article>



    </div>

    <aside id="footnote-panel">
      <div class="f-content">

      </div>
    </aside>

    {# <div class="step" data-trigger="end" data-parent='practice'></div> #}

    <script type="text/javascript">
      let footnotes={
        theory:[
          {% for footnote in essay1.footnotes %}
          {% set text= footnote.text | md  %}
          {% set text = text.replace('\n','') | safe %}
          {
            id:"{{ footnote.id }}",
            html:`{{ text }}`
          },
          {% endfor %}
        ],
        practice:[
          {% for footnote in essay2.footnotes %}
          {% set text= footnote.text | md  %}
          {% set text = text.replace('\n','') | safe %}
          {
            id:"{{ footnote.id }}",
            html:`{{ text }}`
          },
          {% endfor %}
        ]
      };
      console.log(footnotes);

    </script>
    <script src="../../js/purpose.js" charset="utf-8" defer></script>
  </body>
</html>
