main{
  width:100vw;
  height:100vh;
  height:100dvh;
  display:flex;
  flex-flow:column nowrap;
  position:fixed;
  top:0;
  left:0;
  --fg:white;
  --bg:grey;
  background-color:var(--bg);
  --ff:'Authentic Sans','Menlo',monospace;
  font-family:var(--ff);
  /* font-size:20px; */
  letter-spacing:-0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --top:100px;
}



header{
  /* height:var(--top); */
  min-height:fit-content;
  /* border-bottom:1px solid var(--fg); */
  padding:20px 10px;
  box-sizing:border-box;
  max-width:1000px;
}

summary{
  cursor:pointer;
}

.streams{
  flex:1;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  overflow:scroll;

}

.stream{
  --min:calc(100vw - 20px);
  min-width:min(480px,var(--min));
  
  max-height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  position:relative;
  border-right:1px solid var(--fg);
}

.stream:last-of-type{
  border-right:none;
}

.grad{
  --h:40px;
  height:var(--h);
  background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(128,128,128,0) 100%);
  position:sticky;
  width:100%;
  z-index:100;
  top:0;
  padding:0px 10px;
  margin-bottom:10px;
}

.grad h2{
  display:inline-block;
}
/* 
.grad::after{
  content:'';
  display:block;
  position:absolute;
  right:0;
  height:calc(100vh - (var(--h) + var(--top)/2));
  top:calc(var(--h)/2);
  border-right:1px solid var(--fg);
} */



.prose h3 .date,
.prose h4 .date,
.prose .attribution-note{
  font-weight:400;
  opacity:0.5;
}

/* .prose .attribution-note{
  margin-top:-10px;
  display:block;
} */

.prose h3 .date.following::before{
  content:' • ';
}

/* 
#arena_journal{
  --fg:rgb(255, 255, 255);
  --bg:rgb(247, 224, 255);
  background-color:var(--bg);
} */



.contents{
  padding:0px 10px;
  box-sizing:border-box;
  padding-bottom:30px;
  min-height:100vh;
}

.contents>*{
  max-width:100%;
  /* overflow-x:hidden; */
}

.prose-test{
  background-color:red;
  width:20px;
  height:20px;
  max-height:20px;
}

.block{
  /* min-height:100px; */
  border-bottom:1px dashed var(--fg);
  margin-bottom:20px;
  padding-bottom:20px;
  box-sizing:border-box;
}

.block img{
  width:100%;
  object-fit:cover;
}

.block .image-desc{
  margin-top:10px;
}

.block.prose[data-type="Channel"]{
  color:var(--color-bg);
  --color-link:var(--color-bg);
 
}

.block.prose[data-type="Channel"] a{
  display:block;
  background-color:var(--color-fg);
  padding:20px;
}

.block.prose h3{
  margin-top:0;
}



.block[data-type="Link"] a{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}

.block.prose[data-type="Link"] h3{
  margin-top:0;
  margin-right:20px;
}

.block.prose[data-type="Channel"] h3{
  margin-top:0;
  margin-bottom:0;
}

.block[data-type="Link"] img{
  width: 190px;
  height:190px;
}


.bottom-detect{
  height:10px;
}

@font-face{
  font-family: 'Authentic Sans';
  src: url('../assets/authentic-sans-90.woff2');
}

@font-face{
  font-family: 'Authentic Sans';
  src: url('../assets/authentic-sans-130.woff2');
  font-weight:600;
}


@font-face{
  font-family: 'fragment-mono';
  src: url('../assets/fragment-mono-regular.ttf');
}

@font-face{
  font-family: 'fragment-mono';
  src: url('../assets/fragment-mono-regular-italic.ttf');
  font-style:italic;
}


/* @font-face{
  font-family: 'ia-writer';
  src: url('../assets/ia-writer-duospace-regular.otf');
}
@font-face{
  font-family: 'ia-writer';
  font-weight: 600;
  src: url('../assets/ia-writer-duospace-bold.otf');
}


@font-face {
  font-family: 'plex';
  src: url('../assets/ibm-plex-sans-regular.ttf');
}

@font-face {
  font-family: 'plex';
  font-weight:600;
  src: url('../assets/ibm-plex-sans-bold.ttf');
} */


