body{
  /* background-color: aliceblue; */
}

header{
  height:calc(100vh - 80px);
  max-height:80vw;
  display:flex;
  flex-flow:column  nowrap;
  justify-content:center;
}




#essays{
  position:relative;
  width:100vw;
  height:fit-content;
  /* display:flex;
  flex-flow:row nowrap; */
}

#essays:not(.center) article.active{
  --w:calc(100vw - 100px);
}


#essays:not(.center) article:not(.active){
  --w:100px;
  position:sticky;
  top:0;
}



.theory .yes-and{
  width:calc(var(--w) - 60px);
}

.practice .yes-and{
  max-width:calc(100vh - 60px);
}

/* #essays[data-active='theory'] #practice,#essays[data-active='practive'] #theory{
  max-width:100px;
} */

article{
  --w:50vw;
  position:relative;
  width:var(--w);
  box-sizing: border-box;
  transition:width 0.6s;
  height:100%;
  /* transition:flex-grow 0.3s,width 0.3s; */
}
/*
#practice{
  top:0;
  right:0;
} */
.article-wrapper{
  position:relative;
  height:100%;
}

.article-wrapper:nth-child(2){
  position:absolute;
  right:0;
  top:0;
}



.content{
  /* border-top:1px solid black; */
  width:100%;
  overflow:hidden;
  min-height:100vh;
  height:100%;
  padding:20px 30px;
  /* padding-top:50px; */
  box-sizing: border-box;
  position:relative;
  transition:opacity 0.3s;
  padding-top:30px;

}


.content.tnr{
  font-family:"Times New Roman", "Times", serif;
  font-size:18px;
  line-height: 26px;
}

.content.charter{
  font-family:'Charter',serif;
  font-size:17px;
  line-height: 26px;
}

/* .content>h2{
  margin:0;
  margin-bottom:50px;
  width:100%;
  position:sticky;
  top:0;
} */

.content>*{
  max-width:590px;
  margin:auto;
  /* margin-left:min(300px,calc(50% - 295px)); */
  margin-bottom:20px;
}

/* .special-meaning{
  font-family:'Courier Fraktur';
} */



#essays[data-selected='theory'] #theory .col-heading::after,#essays[data-selected='practice'] #practice .col-heading::after{
  content:'←';
  margin-left:10px;
  /* animation: blink 1s linear infinite; */
}

#essays[data-selected='center'] .yes-and::before{
  content:'→';
  margin-right:10px;
  /* animation: blink 2s linear infinite; */
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}


#theory{
  border-right:1px solid black;
}






div[data-trigger="scale"]{
  position:absolute;
  top:70%;
  /* border-top:1px solid black; */
  height:2px;
  width:100%;
}


h1,h2{
  font-family:'Courier New';
  /* font-family: 'pitch-sans',monospace; */
}

.nav{
  cursor:pointer;
}

h1{
  text-align: center;
  /* font-family: 'pitch',monospace; */
  font-size: 10vw;
  line-height: 10vw;
  padding:0px 30px;
  /* margin-left:30px; */
}

h2{
  /* font-family: 'pitch-sans',monospace; */
  height:60px;
  font-size: 50px;
  line-height: 60px;
  z-index: 20;
  position:relative;
  transition: transform 0.6s;
  margin-left:30px;
  transform-origin: 0 50%;
}
h2{

}




#practice h2{
  transform-origin: 0 50%;
}

#essays:not(.center) article:not(.active) h2{
  transform:translateY(-30%) rotate(90deg);
  /* position:sticky;
  top:15px; */
  top:15px;
}

/* #essays:not(.center) article.active h2{

} */

#essays h2{
  position:sticky;
  top:20px;
}

#essays:not(.center) article:not(.active) .content{
  opacity:0;
}








h2>*{
  position:absolute;
  bottom:10px;

  white-space: nowrap;
  left:0;
  transition:width 0.6s;
}


.yes-and{
  width:calc(50vw - 60px);
  right:0;
  text-align: right;
  z-index:4;
}

.nav:not(.yes-and){
  z-index:10;
}

em{
  font-style: italic;
}

strong{
  font-weight:bold;
}

.footnote-link{
  /* color:blue; */
  /* text-decoration: underline palegreen 4px; */
  /* text-underline-offset:0px; */


  /* background-image: linear-gradient(to left, #FDFBC6,#FDFBC6); */
  /* background-color: #EFEFFF; */
  /* background-size: 100% 20px;
  background-repeat: no-repeat;
  background-position: 0 -2px; */


  /* border-bottom:3px solid blue; */
    /* padding:0px 6px; */
  /* border-bottom: 2px solid rgba(0,0,255,0.2); */

  /* border-radius:20px; */

  cursor:pointer;
}


.placeholder-graphic{
  min-height:400px;
  border:1px solid black;
}


/* span::before{
  display:inline-block;
  margin-right:5px;
  margin-bottom:1px;
  width:6px;
  height:6px;
  border:1px solid black;
  border-radius:50%;
  content:'';
} */

blockquote,ul,ol{
  /* margin-left:40px; */
  padding-left:30px;
}

ol{
  /* counter-reset: section;
  list-style-type: none; */
  list-style-type: decimal;
}

h3{
  font-weight: bold;
  margin-top:20px;
}



@media(max-width:900px){
  h2{
    height:40px;
    /* font-family: 'pitch-sans',monospace; */
    font-size: 30px;
    line-height: 60px;
  }

  h2>*{
    bottom:-10px;
  }
}

@media(hover:hover){
  /* #essays:not(.center) article:not(.active):hover{
    cursor:pointer;
    background-color: Aliceblue;
  } */
}





@font-face {
  font-family: 'pitch-sans';
  src: url('../assets/fonts/pitch-sans-test-regular.woff') format('woff');
  font-weight:400;
}
@font-face {
  font-family: 'pitch-sans';
  src: url('../assets/fonts/pitch-sans-test-regular-italic.woff') format('woff');
  font-weight:400;
  font-style: italic;
}



@font-face {
  font-family: 'pitch';
  src: url('../assets/fonts/pitch-test-regular.woff') format('woff');
  font-weight:400;
}
@font-face {
  font-family: 'pitch';
  src: url('../assets/fonts/pitch-test-regular-italic.woff') format('woff');
  font-weight:400;
  font-style: italic;
}
