
{% import 'purpose-macros.njk' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Two essays</title>
    <link rel="stylesheet" href="../css/clearstyle.css">
    <link rel="stylesheet" href="../css/purpose.css">
  </head>
  <body>
    <header>
      <h1>Meaning without<br><span class='special-meaning'>meaning</span></h1>
      {# <h1>How to mean<br>without meaning</h1> #}
      <div data-trigger='scale' class='step'>

      </div>
    </header>
    <div id="essays" class='center' data-selected='theory'>
      <div class="article-wrapper">
        <article id='theory' class="active">
          <h2><span class='col-heading nav' data-which='theory'>a theory</span> <span data-which='center' class='nav yes-and'>and</span></h2>
          <div class="content charter">

            {% for par in essay1.text %}
              {% if par.value[0] == '%' %}
                {% set graphic = par.value | replace("%", "") | replace("%", "") %}
                <div class="placeholder-graphic">

                </div>
              {% else %}
                {{ par.value | footnotes | md | safe }}


              {% endif %}


            {% endfor %}
          </div>
        </article>
      </div>
      <div class="article-wrapper">
        <article id='practice' class="">
          <h2><span data-which='practice' class='col-heading nav'>practice</span></h2>
          <div class="content charter">

          </div>
        </article>
      </div>


    </div>




    <script src="../js/purpose.js" charset="utf-8" defer></script>
  </body>
</html>
