<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>This page will be built out later on, but for now it'll just have an input that lets you see whether a channel has goby set up, and sends you to the appropriate page from there</p>
  </body>
</html>
