<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goby ontology-builder preview</title>
    <link rel="stylesheet" href="../css/clearstyle.css">
    <link rel="stylesheet" href="../css/ontology.css">
    <script src="../js/ontology.js" defer charset="utf-8"></script>
</head>
<body>
  <div id="property-kitchen" class='panel' data-state='init'>
    <div class="panel-header"><h3 class='ia-writer'>Property Kitchen</h3></div>
    <div class="property-sandbox">
      <div class="margin-box start-message">
        <h4 class='ia-writer'>This panel is for making and adding new properties.</h4>
        <h4 class='ia-writer'>Pick a role in the table panel, or <button class='begin-property' type="button" name="button">click here</button> to begin.</h4>
      </div>
      <div class="margin-box create-property" data-ready="false">
        <div class="vertical-line"></div>
        <button class='ia-writer check-ready' type="button" name="button">Create</button>
      </div>
    </div>
    <div class="recipe-panel-wrapper" data-open="false">
      <div class="recipe-panel">
        <h4 class='ia-writer' id='recipe-header'>Recipes</h4>
        <div class="recipe" data-ready="false">
          <button type="button" name="button" class='add-button ia-writer check-ready'>+</button>
          <div class="template-selector ia-writer" data-ready="false">
            Define...
            <ul class='item-selector-module plex' data-type="template">
              <li class='noselect' data-id='0'>String</li>
              <li class="noselect" data-id='1'>Category</li>
              <li class='noselect' data-id='2'>Tag</li>
              <li class='noselect' data-id='3'>Hierarchy</li>
            </ul>

            <div class="special-parameters"></div>
          </div>
        </div>
        <h4 class='centered ia-writer'>Or</h4>
        <div class="recipe ia-writer scratch" data-ready="true">
          <button type="button" name="button" class='add-button ia-writer check-ready'>+</button>
          Create from scratch
        </div>
      </div>
    </div>

  </div>
  {% include 'ontology-icons.html' %}
</body>
</html>
